:root
{
  --background-color-secondary: #f7f7f7;
  --background-color-primary: #ffffff;
  --border-color-secondary: #d2d2d2;
  --border-color-primary: #e6e6e6;
  --border-radius-primary: 6px;
  --border-style-primary: solid;
  --border-width-thick: 4px;
  --border-width-thin: 1px;
  --box-shadow-primary: 0 2px 4px 0 hsla(0, 0%, 84%, 0.5);
  --color-secondary: #000000;
  --color-critical: #ca0000;
  --color-primary: #585858;
  --color-link: #0797e1;
  --color-info: #0797e1;
  --font-size-big: 13pt;
  --font-size-medium: 12pt;
  --font-size-primary: 11pt;
  --font-size-small: 10pt;
  --margin-primary: 16px;
  --padding-primary: 16px;
}
