# This file is part of Adblock Plus <https://adblockplus.org/>,
# Copyright (C) 2006-present eyeo GmbH
#
# Adblock Plus is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 3 as
# published by the Free Software Foundation.
#
# Adblock Plus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.

---
default:
  image: node:18.17.1
  before_script:
    # enable unsafe-perm to avoid problems with running npm as root
    # see https://gitlab.com/adblockinc/ext/adblockplus/adblockplus/-/issues/193
    - export npm_config_unsafe_perm=true
  cache:  # Cache modules using lock file
    key:
      files:
        - package-lock.json
    paths:
      - .npm/

stages:
  - lint
  - test
  - build
  - checkfilesizes
  - testpages
  - uitests
  - uploadxtm
  - updatextm
  - downloadxtm
  - uploadcrowdin
  - downloadcrowdin

################################################################################
# Test
################################################################################

lint:
  stage: lint
  script:
    # Update dependencies
    - npm ci --cache .npm --prefer-offline
    # Run linter
    - npm run lint

test:
  stage: test
  script:
    # Update dependencies
    - npm ci --cache .npm --prefer-offline
    # Run tests
    - npm run test

################################################################################
# Build
################################################################################

build:
  stage: build
  script:
    # Update dependencies
    - npm ci --cache .npm --prefer-offline
    # Create extension builds
    - npm run build:release chrome -- --unhandled-rejections=strict
    - npm run build:release firefox -- --unhandled-rejections=strict
    - npm run build:source
    # Attach commit hash to build files
    - mv dist/release/adblockplus{chrome-*,-chrome-${CI_COMMIT_SHORT_SHA}}.zip
    - mv dist/release/adblockplus{firefox-*,-firefox-${CI_COMMIT_SHORT_SHA}}.xpi
    - mv dist/release/adblockplus-{*,${CI_COMMIT_SHORT_SHA}}.tar.gz
    # Create Manifest v3 extension builds
    - npm run build:release chrome -- -m 3 --unhandled-rejections=strict
    - npm run build:release firefox -- -m 3 --unhandled-rejections=strict
    # Attach commit hash to build files
    - mv dist/release/adblockplus{chrome-*,-chrome-${CI_COMMIT_SHORT_SHA}-mv3}.zip
    - mv dist/release/adblockplus{firefox-*,-firefox-${CI_COMMIT_SHORT_SHA}-mv3}.xpi
  artifacts:
    name: "adblockplus-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}"
    paths:
      - dist/release/adblockplus-${CI_COMMIT_SHORT_SHA}.tar.gz
      - dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
      - dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip
      - dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi
      - dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}-mv3.xpi

buildfromsource:
  stage: build
  needs: ["build"]
  script:
   - mkdir source
   - tar xvf dist/release/adblockplus-${CI_COMMIT_SHORT_SHA}.tar.gz -C source
   - cd source
   - npm ci --cache .npm --prefer-offline
   # Create mv2 extension builds from source archive
   - npm run build:release chrome -- --unhandled-rejections=strict
   - npm run build:release firefox -- --unhandled-rejections=strict
   # Attach commit hash to build files
   - mv dist/release/adblockplus{chrome-*,-chrome-${CI_COMMIT_SHORT_SHA}}.zip
   - mv dist/release/adblockplus{firefox-*,-firefox-${CI_COMMIT_SHORT_SHA}}.xpi
   # Create mv3 extension builds from source archive
   - npm run build:release chrome -- -m 3 --unhandled-rejections=strict
   - npm run build:release firefox -- -m 3 --unhandled-rejections=strict
   # Attach commit hash to build files
   - mv dist/release/adblockplus{chrome-*,-chrome-${CI_COMMIT_SHORT_SHA}-mv3}.zip
   - mv dist/release/adblockplus{firefox-*,-firefox-${CI_COMMIT_SHORT_SHA}-mv3}.xpi
  artifacts:
   name: "adblockplus-source-${CI_COMMIT_REF_NAME}-${CI_COMMIT_SHORT_SHA}"
   paths:
     - source/dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
     - source/dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip
     - source/dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi
     - source/dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}-mv3.xpi
  rules:
    # Do not trigger a merge request pipeline
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    # Run automatically on release and main branch
    - if: $CI_COMMIT_BRANCH == "release" || $CI_COMMIT_BRANCH == "main"
    # Run manually on all other branches
    - when: manual
      allow_failure: true

# ################################################################################
# # Check filesizes
# ################################################################################

.checkfilesizes:
  image: alpine:latest
  stage: checkfilesizes
  script:
   - unzip -d unpacked-extension/ dist/release/$EXTENSION
   - cd unpacked-extension/
   - if [ $(find . -type f -name '*.js' -size +4000k | wc -l) -gt 0 ]; then
       echo 'Some extension files are bigger than 4 MB:' &&
       find . -type f -name '*.js' -size +4000k -exec ls -lh {} \; &&
       exit 1;
     else
       echo 'All extension files are smaller than 4 MB' &&
       exit 0;
     fi

checkfilesizes:MV3:chrome:
  extends: .checkfilesizes
  variables:
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip

checkfilesizes:MV2:chrome:
  extends: .checkfilesizes
  variables:
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip

checkfilesizes:MV2:firefox:
  extends: .checkfilesizes
  variables:
    EXTENSION: adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi

# ################################################################################
# Check build sizes
# ################################################################################

.checkbuildsizes:
  stage: checkfilesizes
  before_script:
    - if [ ! -f $SOURCE_BUILD ] || [ ! -f $REPOSITORY_BUILD ]; then
        echo "File not found" &&
        exit 1;
      fi
  script:
    - if((`stat -c%s $REPOSITORY_BUILD`!=`stat -c%s $SOURCE_BUILD`)); then
        echo "Build from source archive and build from the repository are not the same size" &&
        ls -l $REPOSITORY_BUILD &&
        ls -l $SOURCE_BUILD &&
        exit 1;
      else
        echo "Build from source archive and build from the repository are the same size" &&
        exit 0;
      fi
  rules:
    # Do not trigger a merge request pipeline
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    # Run automatically on release and main branch
    - if: $CI_COMMIT_BRANCH == "release" || $CI_COMMIT_BRANCH == "main"
    # Run manually on all other branches
    - when: manual
      allow_failure: true

checkbuildsizes:MV3:chrome:
  extends: .checkbuildsizes
  variables:
    REPOSITORY_BUILD: dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip
    SOURCE_BUILD: source/dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip

checkbuildsizes:MV2:chrome:
  extends: .checkbuildsizes
  variables:
    REPOSITORY_BUILD: dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
    SOURCE_BUILD: source/dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip

checkbuildsizes:MV3:firefox:
  extends: .checkbuildsizes
  variables:
    REPOSITORY_BUILD: dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}-mv3.xpi
    SOURCE_BUILD: source/dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}-mv3.xpi

checkbuildsizes:MV2:firefox:
  extends: .checkbuildsizes
  variables:
    REPOSITORY_BUILD: dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi
    SOURCE_BUILD: source/dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi

################################################################################
# Translate
################################################################################

.translations:
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^feature-/
      when: manual
    - if: $CI_COMMIT_BRANCH == "release"
      when: manual

.crowdin:
  variables:
    CROWDIN_TOKEN: $CROWDIN_TOKEN
    CROWDIN_PROJECT_ID: $CROWDIN_PROJECT_ID
  environment:
    name: crowdin
    url: https://crowdin.com/project/adblockplusui

uploadcrowdin:
  stage: uploadcrowdin
  extends:
    - .crowdin
    - .translations
  script:
    - npm ci --cache .npm --prefer-offline
    # installing java
    - apt-get install default-jre-headless -yqq
    # installing crowdin-cli
    - wget https://artifacts.crowdin.com/repo/deb/crowdin3.deb -O crowdin.deb
    - dpkg -i crowdin.deb
    - crowdin --version
    # Uploading strings
    - npm run $ crowdin.upload-strings
    - npm run $ crowdin.upload-translations

downloadcrowdin:
  stage: downloadcrowdin
  extends:
    - .crowdin
    - .translations
  script:
    - npm ci --cache .npm --prefer-offline
    # installing java
    - apt-get install default-jre-headless -yqq
    # installing crowdin-cli
    - wget https://artifacts.crowdin.com/repo/deb/crowdin3.deb -O crowdin.deb
    - dpkg -i crowdin.deb
    - crowdin --version
    # Download strings
    - npm run $ crowdin.download-translations
    # Test translations
    - npm run $ lint.locale
    # Configure author for commit
    - git config user.email "$GITLAB_USER_EMAIL"
    - git config user.name "$GITLAB_USER_NAME"
    # Add changes and commit
    - git add locale
    - export COMMIT_MSG="Noissue - Downloaded Crowdin translations for $CI_COMMIT_REF_NAME"
    - git commit -m "$COMMIT_MSG"
    # Push into new branch and create a new merge request
    - export TARGET_BRANCH="translation-${CI_COMMIT_REF_NAME}-crowdin-download"
    - export PUSH_URL=$(echo $CI_PROJECT_URL | sed "s/:\/\//:\/\/$GITLAB_USER:$GITLAB_TOKEN@/")
    - 'git push -f -o merge_request.create -o merge_request.target=$CI_COMMIT_REF_NAME -o merge_request.remove_source_branch -o merge_request.title="WIP: ${COMMIT_MSG}" $PUSH_URL HEAD:refs/heads/$TARGET_BRANCH'

.xtm:
  variables:
    USER_ID: $XTM_USER_ID
    CLIENT: $XTM_CLIENT
    PASSWORD: $XTM_PASSWORD
  environment:
    name: xtm/$CI_COMMIT_REF_SLUG
    url: https://www.xtm-cloud.com

uploadxtm:
  stage: uploadxtm
  extends:
    - .xtm
    - .translations
  script:
    - npm ci --cache .npm --prefer-offline
    # Currently the xtm script determines the branch name using git rev-parse
    # which doesn't work inside the CI environment because it's using a detached
    # head (see https://gitlab.com/gitlab-org/gitlab-ce/issues/19421) to make
    # it work we need to created the corresponding branches
    - git branch main origin/main
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - npm run $ xtm.create

updatextm:
  stage: updatextm
  extends:
    - .xtm
    - .translations
  script:
    - npm ci --cache .npm --prefer-offline
    # Currently the xtm script determines the branch name using git rev-parse
    # which doesn't work inside the CI environment because it's using a detached
    # head (see https://gitlab.com/gitlab-org/gitlab-ce/issues/19421) to make
    # it work we need to created the corresponding branches
    - git branch main origin/main
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    - npm run $ xtm.update

downloadxtm:
  stage: downloadxtm
  extends:
    - .xtm
    - .translations
  script:
    - npm ci --cache .npm --prefer-offline
    # Currently the xtm script determines the branch name using git rev-parse
    # which doesn't work inside the CI environment because it's using a detached
    # head (see https://gitlab.com/gitlab-org/gitlab-ce/issues/19421) to make
    # it work we need to created the corresponding branches
    - git branch main origin/main
    - git checkout -B "$CI_COMMIT_REF_NAME" "$CI_COMMIT_SHA"
    # Download the translations
    - npm run $ xtm.download
    # Test translations
    - npm run $ lint.locale
    # Configure author for commit
    - git config user.email "$GITLAB_USER_EMAIL"
    - git config user.name "$GITLAB_USER_NAME"
    # Add changes and commit
    - git add locale
    - export COMMIT_MSG="Noissue - Downloaded XTM translations for $CI_COMMIT_REF_NAME"
    - git commit -m "$COMMIT_MSG"
    # Push into new branch and create a new merge request
    - export TARGET_BRANCH="translation-${CI_COMMIT_REF_NAME}-xtm-download"
    - export PUSH_URL=$(echo $CI_PROJECT_URL | sed "s/:\/\//:\/\/$GITLAB_USER:$GITLAB_TOKEN@/")
    - 'git push -f -o merge_request.create -o merge_request.target=$CI_COMMIT_REF_NAME -o merge_request.remove_source_branch -o merge_request.title="WIP: ${COMMIT_MSG}" $PUSH_URL HEAD:refs/heads/$TARGET_BRANCH'

################################################################################
# Ad filtering tests
################################################################################

.testpages:
  stage: testpages
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_DRIVER: overlay2
  interruptible: true
  before_script:
    - apk add git
    # Clone the latest master branch of the testpages project
    - git clone https://gitlab.com/eyeo/developer-experience/testpages.adblockplus.org.git
    - cp dist/release/$EXTENSION testpages.adblockplus.org
  script:
    - cd testpages.adblockplus.org &&
      docker build -t testpages --build-arg EXTENSION_FILE=$EXTENSION . &&
      docker run --shm-size=256m -e SKIP_EXTENSION_DOWNLOAD="true" -e GREP="$PARAMETERS" testpages
  after_script:
    - docker cp $(docker ps -aqf ancestor=testpages):/testpages.adblockplus.org/test/screenshots .
      2> /dev/null
  artifacts:
    paths:
      - screenshots/
    when: always
    expire_in: 1 month
  rules:
    # Do not trigger a merge request pipeline
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    # Run automatically on release and main branch
    - if: $CI_COMMIT_BRANCH == "release" || $CI_COMMIT_BRANCH == "main"
      allow_failure: true
    # Run manually on all other branches
    - when: manual
      allow_failure: true

testpages:MV3:chrome:latest:
  extends: .testpages
  variables:
    BROWSER: chromium latest
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip
    SKIP: Subscriptions|Sitekey|Header
    PARAMETERS: '^.*$BROWSER((?!$SKIP).)*$'

testpages:MV3:edge:latest:
  extends: .testpages
  variables:
    BROWSER: edge latest
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}-mv3.zip
    SKIP: Subscriptions|Sitekey|Header
    PARAMETERS: '^.*$BROWSER((?!$SKIP).)*$'

testpages:MV2:chrome:latest:
  extends: .testpages
  variables:
    BROWSER: chromium latest
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
    PARAMETERS: $BROWSER

testpages:MV2:edge:latest:
  extends: .testpages
  variables:
    BROWSER: edge latest
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
    PARAMETERS: $BROWSER

testpages:MV2:chrome:oldest:
  extends: .testpages
  variables:
    BROWSER: chromium 77.0.3865.0
    EXTENSION: adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
    PARAMETERS: $BROWSER

testpages:MV2:firefox:latest:
  extends: .testpages
  variables:
    BROWSER: firefox latest
    EXTENSION: adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi
    PARAMETERS: $BROWSER

testpages:MV2:firefox:oldest:
  extends: .testpages
  variables:
    BROWSER: firefox 68.0
    EXTENSION: adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi
    PARAMETERS: $BROWSER

################################################################################
# UI tests
################################################################################

.uitests:
  stage: uitests
  variables:
    CHROME_BUILD: dist/release/adblockplus-chrome-${CI_COMMIT_SHORT_SHA}.zip
    FIREFOX_BUILD: dist/release/adblockplus-firefox-${CI_COMMIT_SHORT_SHA}.xpi
    LT_USERNAME: $LT_USERNAME
    LT_ACCESS_KEY: $LT_ACCESS_KEY
  script:
    - npm ci --cache .npm --prefer-offline
    - npm run test:$CONFIGURATION $SUITE 2>&1 | tee lambdatest_output.txt || true
    - apt-get update
    - apt-get -y install default-jre-headless
    - npx -y allure-commandline generate test/end-to-end/allure-results -o allure-report
    - |
      log_output=$(cat lambdatest_output.txt)
      regex_pattern="passed, [1-9][0-9]* failed"
      if [[ $log_output =~ $regex_pattern ]]; then
        echo "Failed test cases found. Failing the job."
        exit 1
      else
        echo "No failed test cases found. Job will pass."
      fi
  timeout: 60m
  artifacts:
    when: always
    paths:
      - allure-report
    expire_in: 1 week
  dependencies:
    - build
  rules:
    # Do not trigger a merge request pipeline
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: manual
      allow_failure: true

uitests:all:
  extends: .uitests
  variables:
    CONFIGURATION: end-to-end
    SUITE: all

uitests:all:scheduled:
  extends: .uitests
  variables:
    CONFIGURATION: end-to-end
    SUITE: all
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
      allow_failure: true

uitests:e2e:
  extends: .uitests
  variables:
    CONFIGURATION: end-to-end
    SUITE: e2e

uitests:integration:
  extends: .uitests
  variables:
    CONFIGURATION: end-to-end
    SUITE: integration

uitests:oldbrowsers:
  extends: .uitests
  variables:
    CONFIGURATION: end-to-end-old-browsers
    SUITE: oldbrowsers

uitests:smoke:
  extends: .uitests
  variables:
    CONFIGURATION: end-to-end
    SUITE: smoke
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH == "next" || $CI_COMMIT_BRANCH == "main"
      when: always
    - when: manual
      allow_failure: true
