# This file is part of Adblock Plus <https://adblockplus.org/>,
# Copyright (C) 2006-present eyeo GmbH
#
# Adblock Plus is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 3 as
# published by the Free Software Foundation.
#
# Adblock Plus is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.

---

default:
  image: "node:12-buster-slim"

stages:
  - "prepare"
  - "build"
  - "test"

variables:
  GIT_SUBMODULE_STRATEGY: "recursive"
  npm_config_audit: "false"
  npm_config_prefer_offline: "true"
  npm_config_unsafe_perm: "true"

.setup:
  script:
    - "apt-get update"
    - "apt-get install -y git libgtk-3-0 libxt6 xvfb libnss3 libxss1"
    - "apt-get install -y libgconf-2-4 libasound2 libgbm1 unzip"
    - "npm install"
    - "cd adblockpluschrome"

.cache:
  cache: &cache
    key: "global-cache"
    untracked: true
    paths:
      - "adblockpluschrome/adblockpluscore/*-snapshots/download-cache/"
      - "adblockpluschrome/adblockpluscore/chromium-snapshots/chromedriver/"
      - "node_modules/"

.default_template:
  needs:
    - job: "prepare-dependencies"
  before_script:
    - !reference [.setup, script]
  retry:
    max: 2
    when: "stuck_or_timeout_failure"
  except:
    - "schedules"
  cache:
    <<: *cache
    policy: "pull"
  interruptible: true

prepare-dependencies:
  stage: "prepare"
  script:
    - "git clean -x -d -ff"
    - "git -C adblockpluschrome/adblockpluscore clean -e '/*-snapshots' -x -d -ff"
    - !reference [.setup, script]
    - "npm run download-test-browsers"
  except:
    - "schedules"
  cache: *cache
  interruptible: true

###############################################################################
#                               Build & document                              #
###############################################################################

.build:
  extends: ".default_template"
  stage: "build"
  script:
    - "npx gulp build -t $TARGET -c development"
    - "npx gulp devenv -t $TARGET"

build:chrome:
  extends: ".build"
  variables:
    TARGET: "chrome"
  artifacts:
    paths:
      - "adblockpluschrome/adblockpluschrome-*.zip"
      - "adblockpluschrome/devenv.chrome/tests/"

build:firefox:
  extends: ".build"
  variables:
    TARGET: "firefox"
  artifacts:
    paths:
      - "adblockpluschrome/adblockplusfirefox-*.xpi"
      - "adblockpluschrome/devenv.firefox/tests/"

###############################################################################
#                                Tests & checks                               #
###############################################################################

.test_template:
  extends: ".default_template"
  stage: "test"
  before_script:
    - !reference [.setup, script]
    - "unzip -q $EXTENSION_FILE -d devenv.*"
  variables:
    SKIP_BUILD: "true"
  artifacts:
    paths:
      - "adblockpluschrome/test/screenshots/"
    when: "on_failure"
    expire_in: "1 mo"

.test_template_chromium:
  extends: ".test_template"
  needs:
    - job: "build:chrome"
      artifacts: true
  variables:
    EXTENSION_FILE: "adblockpluschrome-*.zip"

.test_template_firefox:
  extends: ".test_template"
  needs:
    - job: "build:firefox"
      artifacts: true
  variables:
    EXTENSION_FILE: "adblockplusfirefox-*.xpi"

test:firefox:oldest:
  extends: ".test_template_firefox"
  script:
    - "npm run test-only -- -g 'Firefox \\(oldest\\)'"

test:firefox:latest:
  extends: ".test_template_firefox"
  script:
    - "npm run test-only -- -g 'Firefox \\(latest\\)'"

test:chromium:oldest:
  extends: ".test_template_chromium"
  script:
    - "xvfb-run -a npm run test-only -- -g 'Chromium \\(oldest\\)'"

test:chromium:latest:
  extends: ".test_template_chromium"
  script:
    - "xvfb-run -a npm run test-only -- -g 'Chromium \\(latest\\)'"

test:edge:
  extends: ".test_template_chromium"
  before_script:
    - !reference [.setup, script]
    - "Expand-Archive -Path $EXTENSION_FILE -DestinationPath devenv.chrome"
    - "choco upgrade -y nodejs --version=12.17.0"
    - "choco install -y microsoft-edge --version=79.0.309.71"
  script:
    - "npm run test-only -- -g 'Edge'"
  tags:
    - shared-windows
    - windows
    - windows-1809
  # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/25980
  cache: null
