@font-face
{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"),
       local("SourceSansPro-Light"),
       url(source-sans-pro-300.woff2)
       format('woff2');
}

@font-face
{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"),
       local("SourceSansPro-Regular"),
       url(source-sans-pro-400.woff2)
       format('woff2');
}

@font-face
{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"),
       local("SourceSansPro-Bold"),
       url(source-sans-pro-700.woff2)
       format('woff2');
}

body
{
  font-family: "Source Sans Pro", sans-serif;
  font-size: inherit;
}
